.cardstyle {
    width: 16rem;
    height: 18rem;
}


.list-border {
    border: none !important ;
}

.fa-trash {
    color: red;
    font-size:larger
}

.btn-trash:hover {
    border: 1px solid red;
}