* {
    padding: 0;
    margin: 0;
}

/* https://unsplash.com/photos/cxE7SXKnzv0 */
body {
    background-image: url("../images/background2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.cardstyle {
    width: 16rem;
    height: 22rem;
}


.list-border {
    border: none !important ;
}

.fa-trash {
    color:red;
    
        
}

.btn-outline-success{
    height: min-content;
    width: min-content;
    
}

.btn-outline-danger{
    height: min-content;
    width: min-content;
}